#page-normal{
	color:#ff9655;
	text-align:center;
	font-size:0px;
}

#page-normal a{
	border:1px solid #ff9600;
	padding:5px 7px;
	color:#ff9655;
	text-decoration:none;
	font-size:15px;
	margin-right:10px;
}

#page-normal a:hover{
	border:1px solid #ff9600;
	padding:5px 7px;
	background-color:#ffbe94;
}

#page-prev{
	border:1px solid #ff9600;
	color:#ff9600;
	padding:5px 7px;
	font-size:15px;
	margin-right:10px;
	}

#page-prev i{
	margin-right:5px;
	}

#page-next i{
	margin-left:5px;
	}

#page-current{
	border:1px solid #ff9600;
	padding:5px 7px;
	background-color:#ffbe94;
	font-size:15px;
	margin-right:10px;
}

#page-ellipsis{
	font-size:15px;
	margin-right:10px;
}